#content {
  background-color: lightblue;
}



#activate{
  background-color: pink;
  border: solid 1px white;
}

.orange {
  background-color: gold;
  padding: 1px;
}

.cake {
  background-color: antiquewhite;
  padding: 3px;
}
