div {
  height: 5px;
  width: 75;
  background-color: red;
  padding: 5px;

}
html {
  background-color: cyan;
}
h1 {
  color: black;
  border-width: 25px
  margin-left: 25%;
  justify: 800px;
}
body {
  border: yellow;
}
img {
  border: magenta solid 5px;
  justify-content: 800px;
}
main {
  background-color: yellow;
}
ul {
  padding: 25px;
  margin-left: 40%;
}
li {
  padding: 2px;
}

img {
  margin-left: 35%;
}
